<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
        <link rel="stylesheet" href={{ asset('style.css') }}>
        <link rel="icon" type="image/png" href={{asset('img/no_change/favicon.png')}} />
        <link rel="stylesheet" href="{{ asset('bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block recapScript %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid header"></div>
        <header class="text-center">
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('project') }}">
                    <img src={{ asset("img/no_change/logo_portfolio3.png") }} alt="logo_portfolio">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/amine-hadef-013325142/" onclick="window.open(this.href); return false">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/aminehadef/" onclick="window.open(this.href); return false">
                                <i class="fab fa-github-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('passion') }}">Passions <i class="fas fa-fire"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact') }}">Contact <i class="fas fa-comments"></i></a>
                        </li>
                        <li class="nav-item">
                            <a download class="nav-link" href="{{ asset('./cv/cv_amine_hadef.pdf') }}">CV <i class="fas fa-download"></i></a>
                        </li>
                    </ul>
                    {% if app.user %}                 
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="nav-link" href="{{ path('app_logout') }}">logout <i class="fas fa-sign-in-alt"></i></a>
                            </li>
                            <li>
                                <img class="img-profil" src={{ asset("./images_avatre_admin/" ~ app.user.filename) | imagine_filter('avatar') }} alt="img">
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        <div class="contLogo"></div>

        <img class="logo" src={{ asset("img/no_change/logo_portfolio2.png") }}  alt="logo_portfolio3"><!---->
        <h1 class="titleLogo">{% block h1 %}Portfolio de Amine{% endblock %}</h1><!---->
        </header>

        {% block body %}
        {% endblock %}
        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">
        <div class="container">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/watch?v=R8XAlSp838Y" class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/watch?v=R8XAlSp838Y" class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/watch?v=R8XAlSp838Y" class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/watch?v=R8XAlSp838Y" class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3">
            <p style="color:red;">♡</p>
        </div>
        </footer>
<!-- Footer -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{{ asset('bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
